# Listas, Dicionários, Tuplas e etc

Python oferece um monte de estruturas de dados prontas para serem usadas! Vamos explorá-las agora :D

## Listas

Forma mais básica de armazenar um conjunto de dados. A sintaxe é bastante simples:

In [3]:
lista = []  # Inicia uma lista vazia

print(lista)

lista.append("IC")

print(lista)

[]
['IC']

In [10]:
ímpares = [1, 3, 7, 9]  # Inicia uma lista com 

print(ímpares)

[1, 3, 7, 9]

In [12]:
ímpares[3]

9

In [14]:
ímpares[3]

9

In [15]:
ímpares.append(11)

In [16]:
ímpares

[1, 3, 7, 9, 11]

In [17]:
ímpares[4]

11

Podemos também iniciar uma lista fazendo um _casting_ através da palavra `list`. Se passarmos uma string como parâmetro, teremos uma lista de seus caracteres:

In [25]:
faculdade = "UNICAMP"
l = list(faculdade)

print(l)

print(l[3])
print(faculdade[3])

['U', 'N', 'I', 'C', 'A', 'M', 'P']
C
C

Strings também implementam o método `split` que permitem a geração de uma lista de termos quebrados ao redor de um certo caractere:

In [28]:
parágrafo = "USP e UNICAMP ficam no estado de São Paulo. UFV e UFMG ficam em Minas. UFRJ e UFF ficam no RJ"

In [29]:
print(parágrafo)

USP e UNICAMP ficam no estado de São Paulo. UFV e UFMG ficam em Minas. UFRJ e UFF ficam no RJ

In [33]:
frases = parágrafo.split('. ')

In [34]:
frases[1]

'UFV e UFMG ficam em Minas'

In [35]:
print(frases)

['USP e UNICAMP ficam no estado de São Paulo', 'UFV e UFMG ficam em Minas', 'UFRJ e UFF ficam no RJ']

In [36]:
parágrafo.split('e')

['USP ',
 ' UNICAMP ficam no ',
 'stado d',
 ' São Paulo. UFV ',
 ' UFMG ficam ',
 'm Minas. UFRJ ',
 ' UFF ficam no RJ']

## Iterações e Continência

O operador `in` é bastante útil nos dois casos! Checar continência em listas é fácil:

In [37]:
2 in [1, 2, 3, 4]

True

In [8]:
'batata' in ["maria", 2, 3.14, True, "João"]

False

Também podemos fazer iterações de forma bastante simples:

In [38]:
for item in [1, 3, 5, 7, 9, 11]:
    print(item)

1
3
5
7
9
11

Se seu programa precisar checar continências muitas vezes, talvez um set ou uma tupla sejam mais eficiente pro seu caso! Veja mais sobre isso a seguir

### Inserção

In [29]:
lista.append("olá!")  # Podemos adicionar valores com append
print(lista)

['olá!', 'oi', 'olá!']

In [15]:
lista += ["oi"]  # Também podemos usar uma soma embutida para adicionar elementos
print(lista)

['olá!', 'oi']

Também é possível inserirmos valores em pontos arbitrários:

In [44]:
print(ímpares)
ímpares.insert(2, 5)  # Insere 5 na posíção 2
print(ímpares)

[1, 3, 7, 9]
[1, 3, 5, 7, 9]

In [45]:
lista + ímpares  # Na verdade, podemos somar listas como faríamos com strings!

['olá!', 'oi', 'olá!', 1, 3, 5, 7, 9]

In [46]:
ímpares + lista  # A ordem importa

[1, 3, 5, 7, 9, 'olá!', 'oi', 'olá!']

In [47]:
len(ímpares)  # Inspecionamos o tamanho de uma lista com len

5

In [48]:
ímpares[0]  # E acessamos itens específicos usando colchetes

1

In [49]:
ímpares[0:3]  # Slicing também existe!

[1, 3, 5]

Curiosidade: [Porque contagem deveria começar do 0 - E. Dijkstra](https://www.cs.utexas.edu/users/EWD/ewd08xx/EWD831.PDF)

### Pesquisa e contagem

Podemos determinar se um elemento está ou não numa lista simplesmente usando a expressão `in`:

In [50]:
3 in [1, 4, 7, 9]

False

In [51]:
4 in [1, 8, 4, 6]

True

Para localizar o índice de um elemento em si, usamos `index`:

In [41]:
nomes = ["João", "Alice", "Matheus", "Aline", "Flávia", "Matheus", "Alice", "Matheus"]
print(nomes)
print(nomes.index("Matheus"))
print(nomes.index("Felipe"))

['João', 'Alice', 'Matheus', 'Aline', 'Flávia', 'Matheus', 'Alice', 'Matheus']
2

ValueError: 'Felipe' is not in list

E podemos contar as ocorrência com `count`:

In [43]:
nomes = ["João", "Alice", "Matheus", "Aline", "Flávia", "Matheus", "Alice", "Matheus"]
nomes.count("Matheus")

print(nomes.count("Felipe"))

0

Quando mais de um resultado existe, o método `index` irá retornar o primeiro da esquerda para a direita. No entanto, ele aceita um parâmetro opcional que é de onde ele vai começar a busca.

A primeira ocorrência de "Matheus" vem:

In [4]:
nomes.index("Matheus")

2

Podemos utilizar o resultado da primeira busca para localizar a segunda ocorrência. No caso, precisamos colocar para iniciar a busca após o resultado atual:

In [46]:
nomes.index("Matheus", 3)

5

In [47]:
nomes.index("Matheus", 8)

ValueError: 'Matheus' is not in list

In [48]:
nomes.count("Matheus")

3

In [52]:
print(nomes)
indice = -1
encontrados = 0
existem = nomes.count("Matheus")

while encontrados != existem:
    indice = nomes.index("Matheus", indice + 1)
    print(f"Existe um matheus em {indice}")
    encontrados += 1

['João', 'Alice', 'Matheus', 'Aline', 'Flávia', 'Matheus', 'Alice', 'Matheus']
Existe um matheus em 2
Existe um matheus em 5
Existe um matheus em 7

**Exercício**: Na variável `bases` guarde uma lista com as letras separadas da variável `p53`

In [56]:
p53 = """GATGGGATTGGGGTTTTCCCCTCCCATGTGCTCAAGACTGGCGCTAAAAGTTTTGAGCTTCTCAAAAGT"""

bases = list(p53)
print(bases)

['G', 'A', 'T', 'G', 'G', 'G', 'A', 'T', 'T', 'G', 'G', 'G', 'G', 'T', 'T', 'T', 'T', 'C', 'C', 'C', 'C', 'T', 'C', 'C', 'C', 'A', 'T', 'G', 'T', 'G', 'C', 'T', 'C', 'A', 'A', 'G', 'A', 'C', 'T', 'G', 'G', 'C', 'G', 'C', 'T', 'A', 'A', 'A', 'A', 'G', 'T', 'T', 'T', 'T', 'G', 'A', 'G', 'C', 'T', 'T', 'C', 'T', 'C', 'A', 'A', 'A', 'A', 'G', 'T']

**Exercício**: Conte quantas vezes a letra `A` aparece em `bases`

In [57]:
contagem_a = bases.count("A")

print(f"A ocorrência de A é {contagem_a}")

A ocorrência de A é 15

**Exercício**: O operador `len` permite calcular o tamanho de uma lista. Calcule o tamanho de `bases`

In [58]:
tamanho = len(bases)

print(f"Bases possui {tamanho} elementos")

Bases possui 69 elementos

**Exercício**: A lista `atcg` contém uma lista com todas as bases nitrogenadas. Use um loop para contar a ocorrência de cada base em `bases`:

In [69]:
atcg = ["A", "T", "C", "G"]

for base in atcg:
    contagem = bases.count(base)
    print(f"A ocorrência da base {base} é {contagem}")

A ocorrência da base A é 15
A ocorrência da base T é 21
A ocorrência da base C é 15
A ocorrência da base G é 18

_Exercício bônus: use f-strings para imprimir as ocorrências calculadas no exercício anterior num formato como "a ocorrência da base T é 10"_

Observe:

In [24]:
for letra in "unicamp":
    print(letra)

u
n
i
c
a
m
p

Ou seja, embora seja possível converter explicitamente uma palavra para uma lista de letras, isso não é _obrigatório_. Como uma `string` já e implementada como sendo uma lista, é possível fazer um loop através dela de forma implícita.

### Ordenação

[Referência](https://docs.python.org/3/howto/sorting.html#sortinghowto)

Listas possuem o método `sort` que torna fácil fazer uma ordenação simples:

In [71]:
letras = ["A", "G", "E", "O", "E", "R", "W", "S"]
print(letras)

['A', 'G', 'E', 'O', 'E', 'R', 'W', 'S']

In [76]:
letras.sort()

In [77]:
letras

['A', 'E', 'E', 'G', 'O', 'R', 'S', 'W']

In [79]:
l = [2, 5, 32, 1, 45, 214, 242, 111, 304, 13432]

In [80]:
l.sort()

In [81]:
print(l)

[1, 2, 5, 32, 45, 111, 214, 242, 304, 13432]

In [82]:
print(l[::-1])

[13432, 304, 242, 214, 111, 45, 32, 5, 2, 1]

Python também oferece a função `sorted` capaz de realizar ordenações mais poderosas. No funcionamento básico, ela se comporta igual ao `sort` normal:

In [84]:
nomes = ["Ana", "Osvaldo", "José", "Roberto", "Felipe", "Isabella", "Vitor"]
sorted(nomes)

['Ana', 'Felipe', 'Isabella', 'José', 'Osvaldo', 'Roberto', 'Vitor']

Mas, observe que sorted não alterou a lista em memória!

In [82]:
nomes

['Ana', 'Osvaldo', 'José', 'Roberto', 'Felipe', 'Isabella', 'Vitor']

`sorted` permite uma ordenação decrescente direto da chamada:

In [83]:
sorted(nomes, reverse=True)

['Vitor', 'Roberto', 'Osvaldo', 'José', 'Isabella', 'Felipe', 'Ana']

E uma das características mais poderosas, podemos modificar qual vai ser o parâmetro de ordenação que vai ser utilizando criando uma função!

Suponha que você queira ordenas os nomes pela _segunda_ letra deles:

In [86]:
def segunda_letra(palavra):
    return palavra[-1]

sorted(nomes, key=segunda_letra)

['Ana', 'Isabella', 'Felipe', 'Osvaldo', 'Roberto', 'Vitor', 'José']

### Inversão

Assim como strings, podemos inverter usando as opções de slicing:

In [70]:
letras[::-1]

['W', 'S', 'R', 'O', 'G', 'E', 'E', 'A']

In [71]:
letras

['A', 'E', 'E', 'G', 'O', 'R', 'S', 'W']

Como você pode ver, o _slicing_ apenas retorna uma representação da lista invertida. Se você quiser inverter a lista em memória pode usar o método `reverse`:

In [72]:
letras.reverse()
letras

['W', 'S', 'R', 'O', 'G', 'E', 'E', 'A']

In [97]:
nome = "Felipe Bidu"
letras = list(nome) # letras separadas
print(letras)

letras.sort()
letras_ordenadas = letras
print(letras_ordenadas)

nome_2 = "".join(letras_ordenadas) # letras ordenadas juntas numa palavra unica
print(nome_2)

['F', 'e', 'l', 'i', 'p', 'e', ' ', 'B', 'i', 'd', 'u']
[' ', 'B', 'F', 'd', 'e', 'e', 'i', 'i', 'l', 'p', 'u']
 BFdeeiilpu

## Dicionários

Dicionários são ótimos para armazenar valores no formato `chave: valor`. Se você nunca viu essa estrutura na vida, pense num dicionário normal onde palavras são ligadas a um significado:

In [98]:
letras = {
    'a': 'Essa é a primeira letra do alfabeto!',
    'z': 'Essa é a última'
}

In [99]:
letras['a']

'Essa é a primeira letra do alfabeto!'

In [100]:
letras['z']

'Essa é a última'

In [101]:
pessoa = {
    "nome": "João", "idade": 23,
    "altura": 1.75
}

In [102]:
print(pessoa)

{'nome': 'João', 'idade': 23, 'altura': 1.75}

In [104]:
for x in pessoa:
    print(x, pessoa[x])

nome João
idade 23
altura 1.75

Iterar em dicionários é fácil:

In [26]:
for chave in letras:
    print(f"A chave {chave} tem valor {letras[chave]}")

A chave a tem valor Essa é a primeira letra do alfabeto!
A chave z tem valor Essa é a última

Uma forma mais elaborada de fazer um loop em dicionários é com o atributo `items` e fazendo um loop **duplo**:

In [110]:
for chave, valor in pessoa.items():
    print(f"'{chave}' tem valor {valor}")

'nome' tem valor João
'idade' tem valor 23
'altura' tem valor 1.75

In [29]:
for chave, valor in letras.items():
    print(f"A chave é '{chave}' e tem valor '{valor}'")

A chave é 'a' e tem valor 'Essa é a primeira letra do alfabeto!'
A chave é 'z' e tem valor 'Essa é a última'

Determinar continência em dicionários também é fácil:

In [10]:
'a' in letras

True

In [11]:
'w' in letras

False

In [111]:
pessoa

{'nome': 'João', 'idade': 23, 'altura': 1.75}

In [112]:
"idade" in pessoa

True

In [113]:
23 in pessoa

False

In [116]:
23 in pessoa.values()

True

In [ ]:
pessoa.

Dicionários aceitam valores arbitrários, inclusive outros dicionários!

In [12]:
pessoas = {
    "João": {
        "ra": '1234',
        "idade": 20,
        "veterano": False
    },
    
    "Maria": {
        "ra": '12',
        "idade": 30,
        "veterano": True
    }
}

In [14]:
for nome in pessoas:
    for atributo in pessoas[nome]:
        print("O valor de {} para {} é {}".format(atributo, nome, pessoas[nome][atributo]))

O valor de ra para João é 1234
O valor de idade para João é 20
O valor de veterano para João é False
O valor de ra para Maria é 12
O valor de idade para Maria é 30
O valor de veterano para Maria é True

## Tuplas

[Referência](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences)

Tuplas se comportam de forma muito parecida com listas mas são imutáveis:

In [15]:
tupla = ("oi", "olá", "boa tarde")

In [17]:
tupla[0]

'oi'

In [18]:
tupla[0] = "Tchau"

TypeError: 'tuple' object does not support item assignment

Mas ainda é fácil checar continência e iterar em tuplas:

In [19]:
"oi" in tupla

True

In [20]:
for valor in tupla:
    print(valor)

oi
olá
boa tarde

Em geral, tuplas são mais eficientes que listas na checagem de continência! Se o seu problema não vai alterar os valores inicializado e vai checar por continência diversas vezes, usar uma tupla é uma ótima ideia!

### Tuplas de Listas

É possível criar tuplas partindo de listas de maneira fácil:

In [36]:
l = [1, 5, 7, 3, 6, 8, 4, 7]
t = tuple(l)
t

(1, 5, 7, 3, 6, 8, 4, 7)

Também é possível iniciar a lista dentro da tupla de forma implícita:

In [39]:
t = tuple(['usp', 'unesp', 'unicamp'])
t

('usp', 'unesp', 'unicamp')

### Listas de Tuplas

É possível executar a operação inversa e criar listas com base em tuplas:

In [40]:
l = list(t)
l

['usp', 'unesp', 'unicamp']

## Sets

[Referência](https://docs.python.org/3/library/stdtypes.html#set)

Sets implementam um conjunto em Python da forma com você esperaria da matemática.

Elementos duplicados são ignorados:

In [21]:
n = {1, 2, 2, 3, 4}
n

{1, 2, 3, 4}

É possível calcular a intesercção:

In [24]:
fib = {1, 1, 2, 3, 5, 8, 13}
pares = {0, 2, 4, 6, 8}
pares & fib

{2, 8}

As diferenças:

In [25]:
pares - fib

{0, 4, 6}

In [26]:
fib - pares

{1, 3, 5, 13}

A diferença simétrica:

In [27]:
fib ^ pares

{0, 1, 3, 4, 5, 6, 13}

In [28]:
pares ^ fib

{0, 1, 3, 4, 5, 6, 13}

É possível calcular de forma rápida se dois conjuntos são disjuntos (não possuem elementos em comum):

In [29]:
pares = {0, 2, 4, 6, 8}
ímpares = {1, 3, 5, 7, 9}

pares.isdisjoint(ímpares)

True

Também é possível determinar se conjuntos são contidos ou contém outros:

In [33]:
n = {0, 1, 2, 3, 4, 5, 6, 8, 9, 10}
pares.issubset(n)

True

In [34]:
n.issuperset(pares)

True

Sets são uma estrutura altamente otimizada. Se o problema que você está tentando resolver pode ser feito em sets ao invés de em listas, utilize-os!

Em geral, tuplas são mais eficientes que listas na checagem de continência! Se o seu problema não vai alterar os valores inicializado e vai checar por continência diversas vezes, usar uma tupla é uma ótima ideia!

### Sets de Listas

É possível criar sets partindo de listas de maneira fácil:

In [42]:
l = [9, 5, 7, 3, 9, 8]
s = set(l)
s

{3, 5, 7, 8, 9}

Também é possível iniciar a lista dentro do set de forma implícita:

In [43]:
s = set(['campinas', 'são carlos', 'são paulo'])
s

{'campinas', 'são carlos', 'são paulo'}

### Listas de Sets

É possível executar a operação inversa e criar listas com base em sets:

In [44]:
l = list(s)
l

['campinas', 'são paulo', 'são carlos']